<div class="card m-5" style="width:18rem">
  <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group">  
      <label> Select Gender </label>  
      <select formControlName="Gender" (change)="selected()">
        <option *ngFor="let item of data" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Age (min)</label>
      <input class="form-control" formControlName="AgeMin">
    </div>
    <div class="form-group">
      <label>Age (max)</label>
      <input class="form-control" formControlName="AgeMax">
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg">Искать</button>
      </div>
    </div>
  </form>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>