<div class="container">
  <h3 class=" text-center">Anonymous Chat</h3>
        <div class="msg_history">
          <div *ngIf="messages.length > 0">
            <div *ngFor="let message of messages">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.text}}</p>
                    <span class="time_date">{{message.date | date:'MMM d, y, h:mm:ss a' }}</span>
                  </div>
                </div>
              <hr>
            </div>
          </div>
          <div *ngIf="messagesRealTime.length > 0">
          <div *ngFor="let message of messagesRealTime">
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{message.text}}</p>
                <span class="time_date">{{message.date | date:'MMM d, y, h:mm:ss a' }}</span>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="type_msg">
          <form (submit)="onSendMessage()">
            <textarea id="message" name="message" placeholder="Type a message" [(ngModel)]="message"></textarea>
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
        </div>
</div>