<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white" (click)="onProfile()">Anonymous Chat</a>
  <div class="col-sm-5 text-right">
    <button class="btn btn-danger" (click)="onProfile()">My Profile</button>
    <button class="btn btn-danger ml-1" (click)="onLogout()">Logout</button>
  </div>
</nav>
<div class="row">
    <div class="col-sm" *ngIf="visibleDetailsUser">
      <label class="hoverable" *ngIf="userDetails">
        <img src="https://localhost:44355{{userDetails.Photo}} ? https://localhost:44355{{userDetails.Photo}} : 'https://www.w3schools.com/howto/img_avatar.png'">
      </label>
    </div>
    <div class="col-sm" *ngIf="!visibleDetailsUser">
      <div class="user-profile-picture">
          <form #imageForm=ngForm (ngSubmit)="onChangeImage(Image)">
            <div>
              <img [src]="imageUrl" style="max-height: 320px; max-width: 431px">
              <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
            </div>
            <button type="submit" class="btn btn-outline-success" [disabled]="Image.value==''"
              style="margin-top: 2%;">Save
            </button>
          </form>
        </div>
    </div>
  <div class="col-sm" *ngIf="visibleDetailsUser">
    <div style="width: 80%" *ngIf="userDetails">
      <ul class="list-group">
        <li class="list-group-item"><strong>FirstName : </strong>{{userDetails.firstName}}</li>
        <li class="list-group-item"><strong>LastName : </strong>{{userDetails.lastName}}</li>
        <li class="list-group-item"><strong>Gender : </strong>{{userDetails.gender}}</li>
        <li class="list-group-item"><strong>Birthday : </strong>{{userDetails.birthday | date:'MMM d, y, h:mm:ss a' }}</li>
        <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
      </ul>
      <button type="button" class="btn btn-outline-danger btn-block" (click)="onEditUser()" style="margin-top: 2%;">Change Info</button> 
    </div>
  </div>
  <div class="col-sm" *ngIf="!visibleDetailsUser">
    <div style="width: 80%" *ngIf="userDetails">
      <form [formGroup]="service.editModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group required">
          <label>FirstName</label>
          <input class="form-control" style="display: initial" formControlName="FirstName" value="{{userDetails.FirstName}}">
        </div>

        <div class="form-group required">
          <label>LastName</label>
          <input class="form-control" formControlName="LastName" value="{{userDetails.LastName}}">
        </div>

        <div class="form-group required">
          <label>Birthday</label>
          <input class="form-control" formControlName="Birthday" type="date" value="{{userDetails.Birthday}}">
        </div>

        <div class="form-group required">  
            <label> Select Gender </label>  
            <select formControlName="Gender" (change)="selected()">
              <option *ngFor="let item of data" [value]="item">{{item}}</option>
            </select>
        </div>
        <div class="form-row">
          <button type="submit" class="btn btn-lg btn-block">Save</button>
        </div>
        <div style="text-align: center">
          <button type="button" class="btn btn-outline-danger" (click)="onEditUser()"
            style="margin-top: 2%;">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>